<section class="vendor">
  <div class="vendor__toggleable">
    <p class="vendor__name"></p>
    <p class="vendor__captureTxt"></p>
    <button class="vendor__btn">open</button>
  </div>
  <div class="vendor__features">
    <div class="features__detail">
      <div class="vendor__map-container">
        <img class="vendor__map" alt="parking-map" />
      </div>
      <div class="features__list-container">
        <p class="features__title"></p>
        <ul class="features__list"></ul>
      </div>
    </div>
  </div>
</section>
<section class="parking__slots"></section>
