{
    "presets": [
      ["@babel/preset-env", {
        "debug": false,
        "modules": false
      }],
      "jest",
      "ts-jest",
      "@babel/typescript"
    ],
    "env": {
      "test": {
        "presets": ["ts-jest"]
      }
    },
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}